@font-face{
    src: url(./Fonts/ProximaNova.otf);
    font-family: "Proxima Nova";
}

*{
    padding: 0;
    margin: 0;
    font-family: "Proxima Nova"; 
}

html{
    height: 100%;
   width:100%;
}
body{
    background-image: url(./images/photos\ 7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 60%;
   height: 100%;
   width:100%;
   display: flex;
   flex-direction: column;
}

.head-cases{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 24px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.logo-container{
    flex-direction: row;
    align-items: center;
}

.logo-container .icon{
    width: 20px;
    height: 30px;
}

.logo-container .logo{
    width:60px;
    height:30px;
    /* fill: white; */
}

.search-input-container{
    display: flex;
    flex: 1;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0px 100px;
    padding: 4px 10px;
}
.search-input{
    flex: 1;
    padding: 10px;
    border: none;
    height: 100%;
    background-color: transparent;
}
.search-input:focus{
    border: none;
    outline: none;
}


.sign-up> p{
    color: white;
}
.sign-up{
    display: flex;
    flex-direction: row;
   align-items: center;
   cursor: pointer;
}

.sign-up>button{
    margin-left: 15px;
    padding: 8px 20px;
    border-radius: 2px;
    border: none;
    background-color: #ffffff;
    color: black;
    font: bold;
    cursor: pointer;
}

.sign-up>button:hover{
    color: rgba(209, 202, 202, 0.5);
}
.center-alignment{
   justify-content: center;
}

.contents{
    overflow: scroll;
}
.body-content{
    flex: 1;
    display: flex;
    width: 100%;
    justify-content: center;
   /* align-items: center;*/
    color: white;
    text-align: center;
}
.center-text>h2{
color: white;
font-size: 48px;
margin-top: 140px;
}

.center-text>p{
    font-size: 26px;
    margin-top: 25px;
    max-width: 600px;
    font-family: Arial;
    line-height: 32px;
}

.center-text>button{
    padding: 20px 40px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 45px;
    font-size: 22px;
    font-weight: bold;
}
.center-text>button:hover{
    color: rgba(0, 0, 0, 0.5);
}

.sub-context{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-bottom: 80px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 80px;
}


.sub-context>h6{
    margin-top: 8px;
}

.sub-context:hover{
    text-decoration: underline;
    cursor: pointer;
}

.lower-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgba(209, 202, 202, 0.5);
    background-color: black;
    padding: 16px 48px;
}
.lower-text>label:hover{
    color: white;
    cursor: pointer;
}
.lower-text>i:hover{
    color: white;
    cursor: pointer;
}
#language {
    outline: none;
    border: none;
    background-color: transparent;
    color: rgba(209, 202, 202, 0.5);
}

.footer-icons{
    scale: 1.5;
    margin-right: 20px;
}
.footer-icons:hover{
    color: #ffffff;
}

@media screen and (max-width: 600px) {
    .head-cases .search-input-container{
        display: none;
    }

    .lower-text{
        display: flex;
        flex-direction: column;
    }
    .lower-text-item{
        margin-bottom: 5px;
    }
}